# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env*
!.env.localDocker

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Code edito files
/.vscode/
/.idea/

# Git
/.gitignore

# Docker
/docker*.js