#about-heading{
    background: linear-gradient(190deg,rgb(102, 187, 96) 40%, rgb(71, 111, 206));
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    @media (max-width:400px) {
        font-size: 1.65rem;
        margin-bottom: 10px;
    }
}
.about-page{
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 20%;
    p{
        margin-bottom: 10px;
    }
    li{
        transform: translateX(-40px);
        margin-bottom: 10px;
    }
    @media (max-width:400px) {
        >:nth-last-child(1){
            h2{
                font-size: 1.3rem;
            }
        }
    }
}
.pck-container{
    display: flex;
    background-color: rgba(0, 255, 255, 0);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 15px;

    >div{
        flex: 1 1 120px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        height: 100px;
        
        box-sizing: border-box;
        padding: 0px 0px;
        border: 1px solid transparent;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        
        background-color: rgb(170, 180, 211);
        >img{
            grid-area: 1/1/-1/-1;
            filter: brightness(0%);
            margin: auto auto;
            width: 80px;
            height: auto;
            transition: all 0.2s ease;
        }
        &:hover{
            >img{
                scale: 1.2;
            }
        }
        
    }
    >:nth-child(1){
        >img{
            width: 60px;
        }
        &:hover{
            >img{
                filter: brightness(200%);
                width: 60px;
            }
            background-color: rgb(82, 142, 161);
        }
        transition: all 0.2s ease;
    }
    >:nth-child(2){

        &:hover{
            >img{
                filter: invert(100%);
            }
            
            background-color: rgb(44, 44, 66);
        }
        transition: all 0.2s ease;
    }
    >:nth-child(3){
        img{
            width: 70px;
        }
        &:hover{
            img{
                filter: brightness(100%);
            }
            background-color: rgb(177, 115, 100);
        }
        transition: all 0.2s ease;
    }
    >:nth-child(4){
        img{
            width: 100px;
        }
        &:hover{
            img{
                filter: brightness(0%) invert(100%);
            }
            background-color: rgb(49, 150, 91);
        }
        
        transition: all 0.2s ease;
    }
    @media (max-width: 650px) {
        >div{
            flex: 1 1 40%;
        }
    }
    @media (max-width: 400px) {
        gap: 20px;
        justify-content: center;
        >div{
            flex: 0 1 45%;
            height: 80px;
            
        }
    }
}

@keyframes fadein {
    0%{
        display: none;
        background-color: transparent;
    }
    100%{
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
    }
}
@keyframes fadeout {
    0%{
        display: flex;
        background-color: rgba(0, 0, 0, 0.8);
    }
    100%{
        display: none;
        background-color: transparent;
    }
}