#changelog-heading{
    background: linear-gradient(190deg,rgb(102, 187, 96) 40%, rgb(71, 111, 206));
    background-clip: text;
    color: transparent;
    margin-bottom: 20px;
    @media (max-width:400px) {
        font-size: 1.65rem;
        margin-bottom: 10px;
    }
}
.changelog-versions{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20%;
    color: rgba(0, 0, 0, 0.8);
    >:nth-child(1){
        >div{
            h2{
                color: rgb(95, 153, 148);
            }
        }
    }
    &>div{
        display: flex;
        flex-direction: column;
        gap: 20px;

        >div{
            position: relative;
            h2{
                margin-bottom: 15px;
            }
            /*Date*/
            >:nth-child(2){
                font-size: 1rem;
                position: absolute;
                top: 5px;
                right: 0px;
            }
            li{
                list-style-type: circle;
                margin: 8px 0px;
            }
        }
        >hr{
            border: none;
            border-top: 2px solid rgb(132, 187, 153);
        }
    }

    @media (max-width:400px) {
        &>div{
            display: flex;
            flex-direction: column;
            gap: 20px;

            >div{
                h2{
                    font-size: 1.3rem;
                    margin-bottom: 5px;
                }
                h3{
                    font-size: 1.05rem;
                }
                /*Date*/
                >:nth-child(2){
                    font-size: 0.9rem;
                }
            }
        }
    }
}