#login-page{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(45deg, rgb(97, 60, 30), rgb(216, 137, 84), white);
}

#login-box{
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: min(95vw, 400px);
    height: fit-content;
    background: linear-gradient(rgb(255, 196, 168) 10%,rgb(238, 253, 255));

    border-radius: 20px;
    border: 1px rgb(238, 195, 195) solid;
    box-shadow: 0px 0px 40px rgba(189, 53, 53, 0.4);
    h1{
        align-self: center;
        margin: 20px;
        background: linear-gradient( rgba(0, 0, 0, 0.671) 20%,rgba(255, 255, 255, 0.0)) ;
        background-clip: text; 
        color: rgba(255, 255, 255, 0);
    }
    form{
        padding: 30px 10px 10px 10px;
        width: 100%;
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-self: center;
        background-color: rgb(238, 238, 238);
        border-radius: 30px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);

        .login-submit{
            height: 60px;
            border: none;
            border-radius: 20px;
            color: white;
            font-size: 1.1rem;
            background: linear-gradient(45deg,rgb(221, 136, 221) 20%,blue 70%, rgb(45, 230, 143));

            transition: all 0.3s ease-in-out;
            &:hover{
                transition: all 0.1s ease-in-out;
                font-size: 20px;
            }
        }
    }
}

.fields-container{
    width: 100%;
    display: flex;
    flex-direction: column;

    background-color: rgba(160, 160, 29, 0);
}

.fields{
    height: max-content;
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    font-weight: 700;

    a{
        font-weight: 500;
        color: rgb(112, 22, 93);
        align-self: center;
        position: relative;
        bottom: -30px;
    }

    input{
        width: auto;
        height: 40px;
        outline: none;
        border: none;
        border-radius: 10px;
        padding: 0px 15px 0px 15px;
        font-size: 15px;
        transition: all 0.1s ease-in-out;

        &:focus{
            box-shadow: 0px 0px 5px rgba(192, 0, 0, 0.5) inset;
            font-size: 18px;
        }
    }
    #eye-svg{
        width: 20px;
        height: auto;
        padding: 5px;
        position: relative;
        align-self: flex-end;
        right: 5px;
        bottom: 31%;
        border-radius: 5px;

        &:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

@media (prefers-color-scheme : dark){
#login-page{
    background: linear-gradient(45deg, rgb(0, 0, 0), rgb(160, 127, 105), rgb(121, 151, 180));
}
#login-box{
    background: linear-gradient(rgb(255, 196, 168) 10%,rgb(81, 88, 88));
    form{
        background-color: rgb(68, 53, 53);
        
    }
    .fields{
        color: white;
        a{
            color: rgb(236, 136, 206);
        }
    }
}
}

#login-process{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.473);
    z-index: 10;

    #loading-animation{
        #progress-bar{
            animation: rotate-progress-bar 2s linear infinite;

            #bar{
                animation: change-color 10s infinite ease-in-out;
            }
        }
    }
}
@media (max-width: 900px){
    #login-box{
        width: 85vw;
    }

}
@keyframes rotate-progress-bar {
    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(200deg);
    }
    40%{
        transform: rotate(240deg);
    }
    60%{
        transform: rotate(350deg);
    }
    90%{
        transform: rotate(670deg); 
    }
    100%{
        transform: rotate(720deg);
    }

}
@keyframes change-color {
    0%{
        fill: rgb(80, 146, 119);
    }
    25%{
        fill: rgb(151, 163, 231);
    }
    50%{
        fill: rgb(216, 134, 79);
    }
    75%{
        fill: rgb(204, 113, 140);
    }
    100%{
        fill: rgb(80, 146, 119);
    }
}