#loading-animation{
    #progress-bar{
        animation: rotate-progress-bar 2s linear infinite;

        #bar{
            animation: change-color 2s infinite ease-in-out;
        }
    }
}
@keyframes rotate-progress-bar {

    0%{
        transform: rotate(0deg);
    }
    20%{
        transform: rotate(200deg);
    }
    40%{
        transform: rotate(240deg);
    }
    60%{
        transform: rotate(350deg);
    }
    90%{
        transform: rotate(670deg); 
    }
    100%{
        transform: rotate(720deg);
    }

}
@keyframes change-color {
    0%{
        fill: rgb(80, 146, 119);
    }
    25%{
        fill: rgb(151, 163, 231);
    }
    50%{
        fill: rgb(216, 134, 79);
    }
    75%{
        fill: rgb(204, 113, 140);
    }
    100%{
        fill: rgb(80, 146, 119);
    }
}
