.locked-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 5;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.4);

    #locked-icon{
        width: clamp(30px,50%,200px);
        height: auto;
        transition: all 0.2s ease;
        g{
            rect,line,>:nth-child(5){
                animation: zoom-in-out 3s ease-in-out infinite;
            }
            
        }
    }
    h2{
        color: rgba(255, 255, 255, 0.658);
        align-self: center;
        letter-spacing: 6px;
        transform: translate(2%,-50%);
        font-size: clamp(13px,5vw,27px);
        transition: all 0.2s ease;
    }
    &.enabled{
        display: flex;
        animation: fade-in 0.2s ease forwards;
    }
    &.disabled{
        animation: fade-out 0.2s ease forwards;
    }

    @media (max-width:400px) {
        
        svg{
           transform: translateY(-30px); 
        }
        h2{
            letter-spacing: 3px;
            transform: translateY(-30px); 
        }
    }
    @media (max-width:230px) {
        h2{
            opacity:0;
        }
    }
}

@keyframes move-up{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-28%);
    }
}
@keyframes move-circle {
    0%{
        transform: translateY(-28%);
    }
    50%{
        transform: translateY(28%);
    }
    100%{
        transform: translateY(-28%);
    }
}
@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fade-out {
    0%{
        display: flex;
        opacity: 1;
    }
    100%{
        display: none;
        opacity: 0;
    }
}
@keyframes zoom-in-out{
    0%{
        transform: translate(1%,-2%);
        scale: 0.98;
    }
    50%{
        transform: translate(-1.2%,-4%);
        scale: 1.02;
    }
    100%{
        transform: translate(1%,-2%);
        scale: 0.98;
    }
}