.profile{
    width: 50px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    border-radius: 50%;
    line-height: 0;
    overflow: hidden;
    backdrop-filter: blur(8px);

    &.light{
        /* background-color: rgba(79, 82, 255, 0.308); */
        
        border: 4px solid rgb(79, 82, 255);
    }
    &.dark{
        /* background-color: rgba(129, 131, 255, 0.315); */
        
        border: 4px solid rgb(83, 100, 255);
    }
    >.profile-pic{
        width: 100%;
        height: 100%;
    }

    @media (max-width:800px) {
        width: 45px;
    }
    @media (max-width:400px) {
        width: 40px;
    }
}