.fader{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 4;
    background-color: #000000;
    
    animation: show-page 2s ease forwards;
}
@keyframes show-page{
    0%{
        display: flex;
        backdrop-filter: blur(25px);
        background-color: rgb(0, 0, 0);
    }
    20%{
        background-color: rgb(0, 0, 0);
    }
    40%{
        background-color: rgba(197, 220, 255, 0.6);
    }
    60%{
        background-color: rgba(192, 255, 189, 0.6);
    }
    70%{
        backdrop-filter: blur(20px);
        background-color: rgba(255, 194, 194, 0.6);
    }
    100%{
        display: none;
        backdrop-filter: blur(0px);
        background-color: rgba(38, 26, 59, 0);
    }
}
#learn-page{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100px 1fr;
    height: 100dvh;
    background-color: #2d3a49;
    color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.2s ease, grid-template-rows 0.2s ease;
    @media (max-width: 900px){
        grid-template-columns: 1fr;
    }
    @media (max-width:400px) {
        grid-template-rows: 70px 1fr;
    }
}
#learn-page-navbar{
    grid-area: 1/1/2/-1;
    display: flex;
    align-items: center;

    >:nth-last-child(1){
        margin-left: 80px;
        display: flex;
        align-items: baseline;
        h1{
            padding: 8px 12px 8px 12px;
            border-radius: 10px;
        }
    }
    @media (max-width: 900px){
        grid-area: 1/1/2/2;
        backdrop-filter: blur(10px);
        >:nth-last-child(1){
            flex-wrap: wrap;
            margin-left: 5%;
            h1{
                font-size: 1.3rem;
            }
        }
    }
    @media (max-width: 400px){
        >:nth-last-child(1){
            margin-left: 10px;
            h1{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: clamp(10px,20dvw,75px);
                padding: 3px 10px 3px 10px;
                font-size: 1.1rem;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}
#learn-page-logo{
    margin: 0px 0px 0px 30px;
    width: 150px;
    height: auto;
    transition: all 0.3s ease;
    @media (max-width:900px){
        width: 100px;
        margin: 0px;
    }
}
.learn-page-sidebar{
    grid-area: 2/1/3/2;
    width: 250px;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    >:nth-child(1){
        margin-top: 20px;
    }
    @media(max-width:900px){
        grid-area: 2/1/3/2;
        box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
        &.enabled{
            transform: translateX(0px);
        }
        &.disabled{
            transform: translateX(-250px);
        }
    }
    @media (max-width:400px) {
        width: 230px;
    }
    transition: transform 0.3s ease-in-out;
}
#show-sidebar-icon{
    margin: 15px;
    display: none;
    align-self: center;
    @media (max-width: 900px) {
        display: flex;
    }
    @media (max-width: 400px) {
        /*Add if needed*/
        margin: 10px;
        width: 40px;
        height: 35px;
    }
}

.modules{
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    cursor: default;
    @media (max-width:400px) {
        h4{
            font-size: 0.95rem;
        }
    }
}
#learn-page-content{
    grid-area: 2/2/-1/-1;
    overflow-y: auto;
    padding: 20px 15px 70px 15px;
    @media (max-width:900px) {
        grid-area: 2/1/3/2;
        padding: 20px 50px 70px 50px;
        h1{
            margin: 0px 0px 15px 0px;
        }
        h2{
            margin: 0px 0px 15px 0px;
        }
        h3{
            margin: 0px 0px 15px 0px;
        }
    }
    @media (max-width:400px) {
        padding: 20px 15px 70px 15px;
        h1{
            font-size: 1.5rem;
        }
        h2{
            font-size: 1.3rem;
        }
        h3{
            font-size: 1.2rem;
        }
        h4{
            font-size: 1.1rem;
        }
        p{
            font-size: 1rem;
        }
        >div>h4{
            font-size: 1rem;
        }
        font-size: 1rem;
    }
}
#complete-btn{
    margin: 0px 0px 40px 0px ;
    border: none;
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    
    transition: all 0.2s ease;
    &:hover,&:active{
        scale: 1.05;
        box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.5);
    }
}
.jsx-styles{
    h2{
        margin-bottom: 10px;
    }
    iframe{
        height: 300px;
        width: clamp(300px, 95%,700px);
        border: none;
        border-radius: 20px;
    }
    a{
        color: rgb(80, 117, 148);
        &:hover{
            color: rgb(85, 150, 204);
        }
    }
    p{
        line-height: normal;
        margin: 0px 0px 20px 0px;
    }
    li{
        list-style: disc;
        margin: 20px 0px 20px 10px;
    }
    @media (max-width:900px) {
        li{
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    @media (max-width:400px) {
        iframe{
            height: 200px;
        }
    }
}
